/* All elements */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
/* Basic Reset */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  /* color: #fff; */
  overflow-x: hidden;
}
/* header section */
.header-section {
  background-image: url("./images/header-section.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.468);
  background-blend-mode: overlay;
  border-bottom: #4a4ac4 8px solid;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 15px 60px;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

.nav {
  display: flex;
  align-items: center;
  color: black;
  gap: 30px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
  gap: 20px;
  margin-right: 40px;
}
.nav a:hover {
  color: #fff203;
  border-bottom: #d9fa01 2px solid;
}

.cv-btn {
  background: #ffb703;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger img {
  width: 28px;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 60px;
  height: 90vh;
}

.hero-content {
  max-width: 520px;
}

.hero-content h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fff;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.hero-content h1 span {
  font-weight: 800;
}

.hero-content p {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  opacity: 2.9;
  margin-top: 50px ;
  margin-bottom: 30px;
  color: #fff;
  font-weight: bold;
  font-style: italic;

}

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  background: #ffb703;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

.secondary-btn {
  background: transparent;
  border: 2px solid #ffb703;
  padding: 12px 26px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
/* Hover effect */
.secondary-btn:hover {
  background: #ffb703;
  color: #000;
  font-weight: 600;
}
.primary-btn:hover {
  background: #fff203;
  color: #000;
  font-weight: 600;
}

/* Image */
.hero-image {
  position: relative;
}

.hero-image img {
  max-width: 500px;
  border-radius: 20px;
  margin-right: auto;
}

.experience-badge {
  position: absolute;
  right: -20px;
  bottom: 40px;
  background: #fff;
  color: #000;
  padding: 12px 16px;
  border-radius: 12px;
  text-align: center;
  font-size: 13px;
}

.experience-badge strong {
  font-size: 20px;
}

/* Responsive */
@media (max-width: 900px) {
  .header-section {
    height: 160vh;
  }
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-image {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: #1f1f42;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: none;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* About me section */
body {
  font-family: "Segoe UI", sans-serif;
  padding: 40px;
  background-color: #f9fbfc;
  color: #1f2937;
}

.about-me {
  background-color: rgba(207, 202, 202, 0.337);
  text-align: center;
  margin-bottom: 70px;
}

.about-me h2 {
  font-size: 2rem;
  padding-top: 60px;
  margin-bottom: 40px;
}
/* Cards Section*/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 120px;
}
/* Each Card */
.card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.card p {
  color: #4b5563;
  font-size: 0.95rem;
}
/* Projects Section */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fbfc;
  color: #1f2937;
}

.projects {
  text-align: center;
  margin-bottom: 70px;
}

.projects h2 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Project Cards */
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  min-height: fit-content;
  margin: auto;
}

.card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  padding: 20px 0px;
  margin-left: 5px;
  text-align: center;
  font-weight: 500;
}
.card-image img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  padding-bottom: 20px;
}
.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-content h3 {
  font-size: 1.1rem;
  margin: 0px;
}

.card-content p {
  font-size: 0.95rem;
  color: #4b5563;
  margin: 0;
}
/* Small Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags span {
  background-color: #f3f4f6;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
}

/* Skills Section */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9fafb;
}

.skills-section {
  padding: 60px 0px;
  background-color: rgba(207, 202, 202, 0.337);
  text-align: center;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0f172a;
}
/* Skills Grids */
.skills-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  max-width: space-between;
  margin: 0px;
  text-align: left;
}

.skill-column {
  flex: 1 1 200px;
  margin-left: 30px;
}

.skill-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #0f172a;
}

.skill-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-column li {
  margin-bottom: 10px;
  color: #475569;
}
/* Get In Touch (Left Side)*/
body {
  font-family: sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
  color: #1e293b;
}

.contact-section {
  padding: 60px 40px;
  background-color: #f9fafb;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0f172a;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: left;
}

/*contact info (Left Side) */
.contact-info {
  flex: 1 1 40%;
  padding-right: 100px;
}

.contact-info h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #0f172a;
}

.contact-info p {
  margin-bottom: 20px;
  color: #475569;
}

.contact-details {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact-details li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #475569;
}

/* Social linkss */
.social-links {
  display: flex;
  gap: 35px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 50%;
  transition: var(--transition);
  font-size: 1.1rem;
}

.social-links a:hover {
  background-color: var(--accent);
  transform: translateY(-3px);
}

/* Right side - contact form */
.contact-form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background-color: white;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  margin-top: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #1e293b;
}

/* Footer */
.footer-bottom {
  max-height: 200px;
  margin-top: 80px;
  margin: 0px;
  font-size: 1.2rem;
  color: #0a0b0b;
  background-color: rgba(207, 202, 202, 0.337);
  text-align: center;
}
