/* All elements */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;

}
/* Basic Reset */
* {
      margin: 0px;
      padding: 0;
      box-sizing: border-box;
    }

/* Header Section */
body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: #000;
  position: relative;
}

.logo {
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Navigation bar */
nav {
  display: flex;
  gap: 20px;
}

nav a {
   color: rgb(5, 5, 5);
      text-decoration: none;
      font-size: 1rem;
      padding: 8px 12px;
      transition: background-color 0.3s;
}

nav a:hover {
    background-color: #D3D3D3;
    border-radius: 5px; 
}

/* Hidden checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 25px;
  height: 20px;
  justify-content: space-between;
}

.menu-icon span {
  height: 3px;
  background: rgb(0, 0, 0);
  border-radius: 2px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  nav {
    display: none;
    flex-direction: column;
    position:absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    background-color:rgb(252, 252, 252);
    padding: 10px 0;
  }

  #menu-toggle:checked + .menu-icon + nav {
    display: flex;
  }
}
/* Description Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;

}

/* Description Text */
.hero-text {
 padding-top: 50px;
 padding-left: 40px;
 max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  color: rgb(17, 17, 17);
  padding: 15px;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/* Buttons for CV and Portfolio */
.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}
/* Black Button */
.btn.black {
  background-color: #000;
  color: #fff;
}
/* White Button */
.btn.white {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #111827;
}

.btn:hover {
  opacity: 0.85;
}
/* My Image */
.hero-image{
    padding-right: 100px;
    padding-top: 100px;
}
.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 70px;
  margin-left: 70px;
  object-fit: cover;
  border: 4px solid #f3f4f6;
}
/* About me section */
body {
  font-family: 'Segoe UI', sans-serif;
  padding: 40px;
  background-color: #f9fbfc;
  color: #1f2937;
}

.about-me {
background-color: rgba(207, 202, 202, 0.337);
text-align: center;
margin-bottom: 70px;
  
}

.about-me h2 {
  font-size: 2rem;
  padding-top: 60px;
  margin-bottom: 40px;
}
/* Cards Section*/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  padding-bottom:120px ;
}
/* Each Card */
.card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 25px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 10px 0;
  font-size: 1.2rem;
}

.card p {
  color: #4b5563;
  font-size: 0.95rem;
}
/* Projects Section */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fbfc;
  color: #1f2937;
}

.projects {
  text-align: center;
  margin-bottom: 70px;
}

.projects h2 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Project Cards */
.project-cards {
  display:flex;
  flex-wrap:wrap;
 justify-content: space-evenly;
  gap: 10px;
 min-height: fit-content;
 margin: auto;   
}

.card {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.03);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  
  padding: 20px 0px;
  margin-left: 5px;
  text-align: center;
  font-weight: 500;
}
.card-image img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  padding-bottom: 20px;
}
.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-content h3 {
  font-size: 1.1rem;
  margin: 0px;
  
}

.card-content p {
  font-size: 0.95rem;
  color: #4b5563;
  margin: 0;
}
/* Small Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags span {
  background-color: #f3f4f6;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.85rem;
}


/* Skills Section */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9fafb;
}

.skills-section {
  padding: 60px 0px;
  background-color: rgba(207, 202, 202, 0.337);
  text-align: center;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0f172a;
}
/* Skills Grids */
.skills-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  max-width: space-between;
  margin: 0px;
  text-align: left;
}

.skill-column {
  flex: 1 1 200px;
  margin-left: 30px;
}

.skill-column h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #0f172a;
}

.skill-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-column li {
  margin-bottom: 10px;
  color: #475569;
}
/* Get In Touch (Left Side)*/
body {
  font-family: sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
  color: #1e293b;
}

.contact-section {
  padding: 60px 40px;
  background-color: #f9fafb;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #0f172a;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
  text-align: left;
}

/*contact info (Left Side) */
.contact-info {
  flex: 1 1 40%;
  padding-right:100px;
}

.contact-info h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #0f172a;
}

.contact-info p {
  margin-bottom: 20px;
  color: #475569;
}

.contact-details {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact-details li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #475569;
}

/* Social icons */
.social-icons span {
  margin-right: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

/* Right side - contact form */
.contact-form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background-color: white;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  margin-top: 20px;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contact-form button:hover {
  background-color: #1e293b;
}

/* Footer */
.footer-bottom {
  max-height: 200px;
  margin-top: 80px;
  margin: 0px;
  font-size: 1.2rem;
  color: #0a0b0b;
  background-color:  rgba(207, 202, 202, 0.337);
  text-align: center;}